<div class="info-page-container">

        <!-- Error Container -->
        <div class="error-label-container">
          <span class="ion-alert-circled error-icon"></span>
          <span class="error-label" id="error-label"></span>
        </div>
  
        <div class="form-container">

            <h3>Create Profile</h3>
            <p>
                provide the right information needed to create your account.
            </p>
    
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Licence">
            <input type="text" placeholder="Gender">
            <input type="text" placeholder="Speciality area">
            <input type="text" placeholder="Available time | 10am - 12pm">
            <input type="text" placeholder="Available days | monday - friday">
  
        </div>
  
        <!-- Continue Button -->
        <button>Continue</button>
  
      
      </div>
  