<div class="chat-container">

  <div class="satus-cont">
    <div class="user-cont">
      <div>
        <img src="" alt="">
      </div>
      Mark Tutu
      <span></span>
    </div>

    <div class="typing-cont">
      <span>
        <fa name="pencil"></fa>
        Typing..
      </span>
    </div>
  </div>

    <div class="message-cont">
      <ul>

        <li class="left">
          <fa name="caret-left"></fa>
          <p>hello</p>
        </li>

         <li class="right">
            <p> would like</p>
            <fa name="caret-right"></fa>
          </li>

      </ul>
    </div>


    <div class="input-cont">

        <button class="icon-button">
          <fa name="image"></fa>
        </button>
        <input type="text" placeholder="Hello..">
        <button class="icon-button">
          <fa name="send"></fa>
        </button>

    </div>

</div>