<div class="tab-container">

    <div class="tab-items">
      <span [class.tab-active]="selected === 0"
            (click)="tabChanged(0)">
            About
            <span class="active-border"
                  *ngIf="selected === 0"></span>
        </span>
      <span [class.tab-active]="selected === 1"
            (click)="tabChanged(1)">
            Payment
            <span class="active-border" *ngIf="selected === 1"></span>
      </span>
    </div>
    <div class="hr"></div>
    <div class="tab-content">

            <basic-profile *ngIf="selected === 0"></basic-profile>
            <payment-method *ngIf="selected === 1"></payment-method>

    </div>

</div>