<div class="tab-container">

    <div class="tab-items">
      <span [class.tab-active]="selected === 0"
            (click)="tabChanged(0)">
            About
            <span class="active-border"
                  *ngIf="selected === 0"></span>
        </span>
      <span [class.tab-active]="selected === 1"
            (click)="tabChanged(1)">
            Payment
            <span class="active-border" *ngIf="selected === 1"></span>
      </span>
      <span [class.tab-active]="selected === 2"
            (click)="tabChanged(2)">
            Edit
            <span class="active-border" *ngIf="selected === 2"></span>
      </span>
    </div>


    <div class="hr"></div>

    <div class="tab-content" 
         *ngIf="selected === 0">

         <div class="contents-cont">

            <span class="lable-cont">
                <span>phone: </span>
                <span>0207573792</span>
            </span>

            <span class="lable-cont">
                <span>email: </span>
                <span>drtutu@gmail.com</span>
            </span>

            <span class="lable-cont">
                <span>licence: </span>
                <span>009322</span>
            </span>

            <span class="lable-cont">
                <span>gender: </span>
                <span>Male</span>
            </span>

            <span class="lable-cont">
                <span>address: </span>
                <span>**TES MISSIONS** Travailler sur un projet front-end complexe et être moteur dans les choix techniques qui feront sa réussite future Participer au développement d'un produit SaaS à forte valeur ajoutée dans le domaine en plein essor de la...</span>
            </span>

            <span class="lable-cont">
                <span>Affiliation: </span>
                <span>St Johns Hospital</span>
            </span>

            <span class="lable-cont">
                <span>Experience: </span>
                <span>3 yrs</span>
            </span>

            <span class="lable-cont">
                <span>Age: </span>
                <span>45 yrs</span>
            </span>

         </div>

         
    </div>
    <div class="tab-content" 
         *ngIf="selected === 1">

    </div>

</div>