.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}


.logo-container {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #eee;
    background-image: url('../../../assets/images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 35px;
    position: relative;
}


.logo-container > span {
    color: #6d6d6d;
    position: absolute;
    left: 60px;
    top: 15px;
    width: 150px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}


.wrap-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}


.wrap-buttons button {
    margin-left: 15px;
}


.profile-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: dashed thin rgb(123, 123, 123);
    position: relative;
    cursor: pointer;
}

.profile-photo-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #eee;
    overflow: hidden;
    border-radius: 100%;
}

.profile-photo-container .status-icon {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 84, 84);
    border-radius: 100%;
    z-index: 10000;
    right: -3px;
    bottom: 2px;
}


.profile-photo-container img {
    width: 100%;
    height: 100%;
    flex: 1;
}


.profile-photo-container:hover > img {
    visibility: hidden;
}


.header-bar .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: rgb(241, 241, 241);
    border-radius: 100%;
    position: relative;
}


.menu-button > fa {
    font-size: 25px;
    text-align: center;
    position: absolute;
    color: #484848;
}


.menu-button > #caret {
    position: absolute;
    bottom: -37px;
    color: #fff;
    font-size: 30px;
}


.menu-button > span {
    position: absolute;
    top: -2px;
    right: -5px;
    width: auto;
    height: auto;
    border-radius: 100%;
    background-color: rgb(255, 84, 84);
    color: #fff;
    padding: 5px;
    z-index: 10000;
    font-size: 10px;
}




/*

    Call controls container

*/

.wrap-call-controls {
    border: solid thin #eee;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    flex-direction: row;
}



.wrap-call-controls > span {
    height: 20px;
    width: 1px;
    background-color: #ddd;
    margin: 5px 5px;
}


.wrap-call-controls .cancel {
    background-color: rgb(255, 169, 169);
    color: rgb(202, 39, 39);
}


.cancel:active, .accept:active {
    opacity: 0.6;
}


.wrap-call-controls .accept {
    background-color: rgb(229, 255, 240);
    color: rgba(47, 125, 112, 0.8);
}



.wrap-call-controls > .status {
    background: #eee;
    text-align: center;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.wrap-call-controls > .dr-cont {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/dr.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    border: solid thin #eee;
    background-position-x: -12px;
    margin-left: 10px;
    margin-right: 10px;
}


.wrap-call-controls > .ring-cont {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/telephone.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 60px; */
    border: solid thin #eee;
    /* background-position-x: -12px; */
    margin-left: 10px;
}