<div class="header-bar">

        <!-- Menu button -->
        <div class="logo-container">
            <span>Hospital Online</span>
        </div>

        <div class="wrap-call-controls">
            <button class="icon-button accept">
                <fa name="phone"></fa>
            </button>
            <span></span>
            <button class="icon-button cancel">
                <fa name="phone"></fa>
            </button>
            <span></span>
            <button class="icon-button">
                <fa name="volume-off"></fa>
            </button>
            <span></span>
            <button class="icon-button">
                <fa name="power-off"></fa>
            </button>
            <span></span>
            <div class="status">online</div>
            <div class="dr-cont"></div>
            <div class="status">waiting for consultations</div>
            <div class="ring-cont"></div>
        </div>

        <div class="buttons-container">

                <div class="wrap-buttons">

                        <!--  -->
                        <button class="menu-button">
                            <fa name="search"></fa>
                        </button>

                        <!-- Consultations -->
                        <button class="menu-button">
                            <fa name="user-md"></fa>
                        </button>

                        <!-- Notifications -->
                        <button class="menu-button">
                            <fa name="bell"></fa>
                            <span>20</span>
                        </button>

                        <button class="menu-button">
                            <fa name="info-circle"></fa>
                            <fa id="caret" name="caret-down"></fa>
                        </button>

                </div>


                <div class="profile-photo-container">
                    <div>
                        <img src="https://avatars2.githubusercontent.com/u/4162997?s=400&v=4" alt="">
                    </div>
                    <div class="status-icon"></div>
                </div>


        </div>

  
  
  
</div>