<div class="cons-container">

  <div class="nav-cont">
      <p>Mark Tutu</p>
      <div class="wrap-nav-buttons">
        <button class="icon-button">
            <fa name="calendar"></fa>
        </button>
        <button class="icon-button">
            <fa name="chevron-down"></fa>
        </button>
      </div>
  </div>
  
  <ul>

      <li>
          <div class="img-cont">
            <img src="" alt="">
          </div>
          <div class="info-cont">
              <span>Mark Tutu</span>
              <span>Thurs, 22nd Dec 18</span>
          </div>
      </li>

  </ul>

</div>