<div class="upload-photo-container">
    
        <div class="error-label-container">
                <span class="ion-alert-circled error-icon"></span>
                <span class="error-label" id="error-label"></span>
            </div>
    
            <!-- Upload photo label -->
            <h3>Upload your photo</h3>
    
            <!-- Photo container -->
            <div class="photo-container">
                <img src="https://avatars2.githubusercontent.com/u/4162997?s=400&v=4" alt="">
            </div>
    
            <!-- Upload photo button -->
            <div class="wrap-photo-buton">
                <button class="upload-photo-button">
                    <fa-icon [icon]="icon"></fa-icon>
                </button>
                <span>upload photo</span>
            </div>
            
    
            <button>Save Photo</button>

            <p>
                Please provide a valid photo of yourself, if confirmed <strong>photo</strong>
                is not yours, account with licence will be blocked forever.
            </p>


</div>