<div class="cons-container">

  <div class="nav-cont">
      <button class="icon-button">
        <fa name="search"></fa>
      </button>
      <p>Consultations</p>
      <button class="icon-button">
          <fa name="chevron-down"></fa>
      </button>
  </div>
  
  <ul>

      <li>
          <div class="img-cont">
            <img src="" alt="">
          </div>
          <div class="info-cont">
              <span>Mark Tutu</span>
              <span>Thurs, 22nd Dec 18</span>
          </div>
          <div class="call-cont">
                <button class="icon-button"><fa name="phone"></fa></button>
                <button class="icon-button"><fa name="comment"></fa></button>              
            </div>
      </li>

  </ul>

</div>