<div class="call-cont">

    <button class="icon-button close-cam">
        <fa name="video"></fa>
    </button>


    <div class="call-buttons">
        <button class="icon-button">
            <fa name="volume-off"></fa>
        </button>
        <button class="icon-button">
            <fa name="stop"></fa>
        </button>
        <button class="icon-button">
            <fa name="microphone-slash"></fa>
        </button>
    </div>

    <div class="caller-container"></div>
    <!-- <img src="https://avatars2.githubusercontent.com/u/4162997?s=400&v=4"> -->
    <!-- <div class="overlay"></div> -->

</div>