<div class="settings-cont">

      <div class="profile-cont">
          <div class="img-cont">
              <img src="">
          </div>
          <div class="profile-details">

              <span>Dr. Mark Osei Tutu</span>

              <span class="doc-spec">
                <fa name="briefcase"></fa>
                <span>Gynecologist</span>
              </span>

              <div class="ratings">
                <span>
                    Ratings
                    <span>8,3</span>
                </span>
                <span class="stars"> 
                  <fa name="star"></fa>
                  <fa name="star"></fa>
                  <fa name="star"></fa>
                  <fa name="star"></fa>
                  <fa name="star"></fa>
                </span>
              </div>

          </div>
      </div>

      <div style="
          width: 100%;
      ">

      
        <lazy-tabs></lazy-tabs>


      </div>

     




</div>
